* {
    margin: auto;
    width: 80%;
    padding: 10px;
}

#userInput {
    padding: 15px;
    margin-left: 85px;
    width: 80%;
}

#submitBtn {
    background-color: rgb(16, 97, 24);
    color: white;
    padding: 10px;
    margin: 10px;
    margin-left: 95px;
    width: 80%;
}

h1 {
    text-align: center;
    font-size: 50px;

}

div {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #0f0f0f;
    border-width: 2px;
    margin: 10px;
    width: 100%;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

button {
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 0px;
    margin: 10px;
    gap: 10px;
}

input {
    width: 100px;
}

.del {
    color: white;
    background-color: rgb(140, 10, 23);
    align-content: center;
    align-items: center;
    align-self: center;
    text-size-adjust: 50px
}
.update {
    color: white;
    background-color:rgb(16, 97, 24);
}
.text {
    margin: 0;
    font-size: 50px;
    flex-grow: 1;
}